body {
  margin:0px 0px 0px 0px;
  opacity: 0;
} body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

#main {
  background:url(bg.jpg);
  background-size:cover;
  background-position:center bottom;
}
.inner {
  background: rgba(0,0,0,0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
  padding:10px 10px;
  color:#eee;
  min-height: calc(100% - 20px);
}
h1 {font-family: 'Advent Pro', sans-serif;font-size:200px;text-align:center;}
span {
  margin-top:30px;
  margin-bottom:30px;
}

#content {
  margin-top:50px;
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}
